!!!5
html
  head
    title Werewolves.io
    link(rel='shortcut icon', href='/assets/favicon.ico', type='image/x-icon')
    if env === 'production'
      link(rel='stylesheet', href='/css/style.min.css')
    else
      link(rel='stylesheet', href='/css/style.css')
  body.in-lobby

    include intro-server



  if env === 'production'
    script(src='/js/app.min.js')
  else
    script(src='/js/vendor.js')
    script(src='/js/templates.js')
    script(src='/js/client.js')
    script(src="//#{host}:35729/livereload.js")

  script.
    window.NODE_ENV = '#{env}';
    window.PLAYER_ID = '#{playerId}';
    window.SOCKET_URL = '#{socketUrl}';
    App.bootstrap(!{world});
